# Entorno virtual
.venv/
venv/
env/

# Datos (no subir a GitHub)
data/raw/
data/processed/

# Jupyter
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/

# Variables de entorno
.env

# Sistema operativo
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
